* {
    background-color: pink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    top: 20vh;
    max-width: 60%;
    max-height: 75%;
    margin: auto;
    background-color: purple;
    border: 1px solid black;
    overflow: hidden;
    
}
#slider {
    position: relative;
    display: flex;
    transform: translateX(-100%);
}
img {  
    width: 100%;
    object-fit: cover;
}
